<nav class="navbar navbar-footer navbar-expand-sm bg-dark navbar-dark justify-content-center ">
    <div class="footer mt-5">
        <h3>Copyright  &copy; CÔNG TY TRÁCH NHIỆM HỮU HẠN HKN.</h3>
        <p>Địa chỉ:  <a
                href="https://www.google.com/maps/place/1454%2F16B,+1454+L%C3%AA+V%C4%83n+L%C6%B0%C6%A1ng,+Ph%C6%B0%E1%BB%9Bc+Ki%E1%BB%83n,+Nh%C3%A0+B%C3%A8,+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh+70000,+Vi%E1%BB%87t+Nam/@10.690693,106.7000082,17z/data=!4m6!3m5!1s0x3175301783d99f39:0x2933b2dd490e589!8m2!3d10.690693!4d106.7025831!16s%2Fg%2F11rpq8qchb?entry=ttu" target="_blank">1454 Lê Văn Lương, Phước Kiển, Nhà Bè, Hồ Chí Minh</a></p>
        <p>Số điện thoại:  <a href="tel:+866695643">0123 456 789</a></p>
        <p>Email:  <a href="mailto:nykhoa@gmail.com" target="_blank">nykhoa@gmail.com</a></p>
        <p>Facebook:  <a href="https://www.facebook.com/NguyenYKhoa123/" target="_blank">Hiếu Ngân Khoa</a></p>
    </div>
</nav>