{% extends 'layout/base.html' %}

{% block title %}Đăng nhập{% endblock %}

{% block content %}
<div class="container ">
    <h1 class="text-center text-success">Đăng nhập</h1>
    {% if err_msg %}
    <div class="alert alert-danger">
        <h1>{{ err_msg }}</h1>
    </div>
    {% endif %}
    <form method="post">

        <div class="form-group">
            <input type="text" placeholder="Email..."
                   name="email" class="form-control" required/>
        </div>

        <div class="form-group">
            <input type="password" placeholder="Mật khẩu..."
                   name="password" class="form-control" required/>
        </div>

        <div class="form-group">
            <input type="submit" value="Đăng nhập"
                   class="btn btn-success"/>
        </div>

        <p>Bạn chưa có tài khoản <a href="/register">Đăng ký</a></p>
    </form>
</div>

{% endblock %}