{% extends 'layout/base.html' %}

{% block title %}Chi tiết sản phẩm{% endblock %}

{% block content %}
<div class="container-detail">
    <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='image/arrow.png') }}"
                    style="width:40px; margin-bottom:10px;"></a>
    <div class="row">
        <div class="col-sm-6">
            <img class="image-detail" src="{{ medicine.image }}" alt="Card image">
        </div>
        <div class="col-sm-6">
            <div class="content-detail">
                <div style="border-bottom: 1px solid grey; margin-bottom:10px;"><p class="title-detail">{{ medicine.name
                    }}</p></div>

                <p><b>Mã sản phẩm: </b>{{ medicine.id }}</p>
                <p class="price-detail">Giá: {{"{:,.1f}".format(medicine.price)}} VND </p>
                <p class="component"><b>Thành phần: </b> {{ medicine.component }}</p>
                <p class="description"><b>Công dụng: </b>{{ medicine.description }}</p>
            </div>
        </div>


    </div>
</div>
{% endblock %}